body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg,#0f172a,#020617);
  color: #e5e7eb;
}

.sidebar {
  position: fixed;
  width: 220px;
  height: 100%;
  background: #020617;
  padding: 20px;
}

.sidebar h2 {
  color: #38bdf8;
}

.tagline {
  font-size: 12px;
  color: #94a3b8;
}

.main {
  margin-left: 240px;
  padding: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.card h3 {
  font-size: 32px;
  color: #38bdf8;
}

section {
  background: #020617;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
}

input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: #020617;
  border: 1px solid #334155;
  color: white;
  border-radius: 6px;
}

button {
  background: #38bdf8;
  color: black;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  border-bottom: 1px solid #334155;
}
